<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Reviews</title>
  
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
  <link href="{{url_for('static', filename='css/style_2.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/chart.css')}}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">

</head>


<style type="text/css">
.show-read-more .more-text
{
  display: none;
}

body {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

table {
    border-collapse: separate;
    border-spacing: 0.5em 0.5em;
}

.tm-block-title {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 5px;
  padding: 10px;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#battery
{
  max-width: 1200px;
  margin: 0 auto;
  display: none;
}

</style>



<body>
  <table class="lol6">
        <tr>
            <td>
                <table style="width: 1080px;">
                  <tr>
                    <th>
                        <div class="bg-white bg-gradient-info tm-block" style=" width: 360px; height: 200px; text-align: center;">
                            <h2 class="tm-block-title">Product Name</h2>
                            <h4 style="font-size: 1.2rem; color: white;">{{product_name}}</h4>
                        </div>
                    </th>
                    <th>
                        <div class="bg-white bg-gradient-warning tm-block" style=" width: 360px; height: 200px; text-align: center;">
                            <h2 class="tm-block-title">Total Count</h2>
                            <h4 style="font-size: 1.2rem; color: white;">{{total_reviews}}</h4>
                        </div>
                    </th>
                    <th>
                        <div class="bg-white bg-gradient-success tm-block" style=" width: 360px; height: 200px; text-align: center;">
                            <h2 class="tm-block-title">Last Analysed Date</h2>
                            <h4 style="font-size: 1.2rem; color: white;">{{last_date}}</h4>
                        </div>
                    </th>
                  </tr>
                </table>
                <table>
                  <tr>
                    <th>
                        <div class="bg-white tm-block" style=" width: 540px; height: 450px; border: 1px solid black;">
                            <div id="chart_div1" class="chart" style="padding: 5px:" data-reviews1='{{reviews_count}}'></div>
                        </div>
                    </th>
                    <th>
                        <div class="bg-white tm-block" style=" width: 540px; height: 450px; border: 1px solid black;">
                            <div id="chart_div2" class="chart" style="padding: 5px;" data-reviews2='{{tag_ratings}}'></div>
                        </div>
                    </th>
                  </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <th>
                           <div class="bg-white card" style=" width: 300px; height: 325px; text-align: left;>
                                <h1 class="bg-gradient-info">Top Positive</h1>
                                <p>{{top_pos_name}}</p>
                                <p class="show-read-more">{{top_pos_review}}</p>
                            </div>
                        </th> 
                    </tr>
                    <tr>
                        <th>
                            <div class="bg-white card" style=" width: 300px; height: 325px; text-align: left;">
                                <h1 class="bg-gradient-warning">Top Negative</h1>
                                <p>{{top_neg_name}}</p>
                                <p class="show-read-more">{{top_neg_review}}</p>
                            </div>
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


  <h1>Top Most Useful Reviews</h1>

  <p><button onclick="switchVisible()">Battery</button></p>

  <div id="root"></div>
  <div id="battery"></div>
  <div id="mydiv" data-geocode='{{reviews}}' data-battery='[{"starRating": "5.0 out of 5 stars", "reviewTitles": "Best Product On Best Discount", "postDate": "Reviewed in India on 21 February 2020", "names": "Sandeep Chandra", "reviewBody": "Best Product On Best Discount As I Got This 2 Pack Total Of 600gm Best Chocolate Biscuits In Rs 169 (Rs 30 More Combo Discount For Selecting 2 Products & Free Delivery For Prime Membership) Which Makes This Deal Even More Value For Money.Packing Was Great, Delivery Was Great.Taste Is Great As Usual"}]'></div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="{{url_for('static', filename='js/chart.js')}}"></script>
  <script src="{{url_for('static', filename='js/scripts.js')}}"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script>
	$(document).ready(function(){
		var maxLength = 150;
		$(".show-read-more").each(function(){
			var myStr = $(this).text();
			if($.trim(myStr).length > maxLength){
				var newStr = myStr.substring(0, maxLength);
				var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
				$(this).empty().html(newStr);
				$(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
				$(this).append('<span class="more-text">' + removedStr + '</span>');
			}
		});
		$(".read-more").click(function(){
			$(this).siblings(".more-text").contents().unwrap();
			$(this).remove();
		});
	});

	function switchVisible()
    {
        if (document.getElementById('root'))
        {

          if (document.getElementById('root').style.display == 'none')
          {
              document.getElementById('root').style.display = 'block';
              document.getElementById('battery').style.display = 'none';
          }
          else
          {
              document.getElementById('root').style.display = 'none';
              document.getElementById('battery').style.display = 'block';
          }
        }
    }

	</script>
</body>

</html>
